body {
    background-color: black;
}
body h1{
    color:white;
    text-align: center;
    text-justify: auto;
}
.backgroundBox{
    background-color: rgb(95, 14, 95);
    margin-bottom: 5px;
    padding: 3px;
}
